body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    color: #F9FAF8;
    padding: 200px;
    padding-top: 0px;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.head-bar {
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 5px;
    font-size: 36px;
    font-weight: 700;
}

.logo img {
    width: auto;
    height: 40px;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
}

.head-content {
    margin-top: 100px;
    display: flex;
    gap: 48px;
}

.head-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 18px;
}

h1 {
    margin: 0;
}

img.header-image {
    width: 500px;
    height: auto;
}

#header-title {
    font-size: 48px;
    font-weight: 900;
}

a,
#header-p {
    margin: 0;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 200;
}

button {
    margin: 0;
    margin-top: 12px;
    border: 0;
    flex: 0 0 auto;
    padding: 10px 24px;
    background-color: #295ca4;
    color: #F9FAF8;
    font-size: 20px;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    gap: 100px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}